.menu-bar {
    -fx-background-color:  #234974;
}

#windowHeader, #windowMiddle, #windowFooter{
    -fx-background-color:  #234974;
}

#appBackground{
    -fx-background-color: white;
}

/*#apiHeader, #apiMiddle, #apiFooter{*/
    /*-fx-background-color:  #313335;*/
/*}*/

/*#apiBackground{*/
    /*-fx-background-color: #404244;*/
/*}*/

#loginLabel, #passwordLabel, #environmentLabel{
    -fx-text-fill: #2d6ca2;
}

/*#apiResourceLabel, #requestTypeLabel{*/
    /*-fx-text-fill: #e97e00;*/
/*}*/

.menu-bar .label  {
	-fx-font-weight: bold;
    -fx-font-size: 12px;
	-fx-font-family: System;
    -fx-text-fill: white;
}

/*#apiHeader > .menu-bar .label  {*/
    /*-fx-font-weight: bold;*/
    /*-fx-font-size: 12px;*/
    /*-fx-font-family: System;*/
    /*-fx-text-fill: #e97e00;*/
/*}*/

.menu-item .label {
	-fx-font-weight: bold;
    -fx-font-size: 12px;
	-fx-font-family: System;
    -fx-text-fill: #234974;
}
.menu-item:focused {
    -fx-background-color: 
		linear-gradient(from 0% 83% to 0% 100%, #8BD3FF 0%, #3C9AE0 100%),
        radial-gradient(center 50% 50%, radius 100%, #8BD3FF, #3C9AE0);
}
.menu-item:focused .label {
    -fx-text-fill: #234974;
}
.context-menu {
    -fx-background-color: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 5 );
}
