#sendButton{
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 6;
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #373737 0%, #313335 100%),
            radial-gradient(center 50% 50%, radius 100%, #373737, #313335);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #e97e00;
    -fx-font-family: System;
}
#sendButton:hover {
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #2e2e2e 0%, #26282a 100%),
            radial-gradient(center 50% 50%, radius 100%, #2e2e2e, #26282a);
}
#sendButton:pressed {
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #2e2e2e 0%, #1d1f21 100%),
            radial-gradient(center 50% 50%, radius 100%, #2e2e2e, #1d1f21);
    -fx-padding: 1 1 1 1;
}

#apiSwitcher{
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 6;
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #373737 0%, #313335 100%),
            radial-gradient(center 50% 50%, radius 100%, #373737, #313335);
    -fx-text-fill: #e97e00;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: System;
}

#apiSwitcher:hover {
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #2e2e2e 0%, #26282a 100%),
            radial-gradient(center 50% 50%, radius 100%, #2e2e2e, #26282a);
}

#apiSwitcher:selected {
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #2e2e2e 0%, #1d1f21 100%),
            radial-gradient(center 50% 50%, radius 100%, #2e2e2e, #1d1f21);
    -fx-padding: 1 1 1 1;
}

#apiSwitcher:selected:hover {
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #2e2e2e 0%, #26282a 100%),
            radial-gradient(center 50% 50%, radius 100%, #2e2e2e, #26282a);
}

#stopButton {
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 6;
    -fx-background-color: 
        linear-gradient(from 0% 83% to 0% 100%, #FF3021 0%, #c12e2a 100%),
        radial-gradient(center 50% 50%, radius 100%, #FF3021, #c12e2a);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
	-fx-font-family: System;
}
#stopButton:hover {
    -fx-background-color: 
        linear-gradient(from 0% 83% to 0% 100%, #FF3021 0%, #8B2220 100%),
        radial-gradient(center 50% 50%, radius 100%, #FF3021, #8B2220);
}
#stopButton:pressed {
	-fx-background-color: 
        linear-gradient(from 0% 83% to 0% 100%, #D82D1F 0%, #8B2220 100%),
        radial-gradient(center 50% 50%, radius 100%, #D82D1F, #8B2220);
    -fx-padding: 1 1 1 1;
}