.combo-box {
    -fx-padding: 0 0 0 0;
	-fx-background-radius: 6;
    -fx-background-color: 
        linear-gradient(from 0% 83% to 0% 100%, #428bca 0%, #2d6ca2 100%),
        radial-gradient(center 50% 50%, radius 100%, #428bca, #2d6ca2);
	-fx-font-weight: bold;
    -fx-font-size: 14px;
	-fx-font-family: System;
 }
 
 .combo-box:hover {
    -fx-background-color: 
        linear-gradient(from 0% 83% to 0% 100%, #2d6ca2 0%, #2b669a 100%),
        radial-gradient(center 50% 50%, radius 100%, #2d6ca2, #2b669a);
 }
 
 .combo-box:pressed {
    -fx-background-color: 
        linear-gradient(from 0% 83% to 0% 100%, #2b669a 0%, #265180 100%),
        radial-gradient(center 50% 50%, radius 100%, #2b669a, #265180);
 }
 
 .combo-box .cell{
    -fx-text-fill: white;
 }
.combo-box-popup .list-view .list-cell
{
    -fx-text-fill: #234974;
}
.combo-box-popup .list-view .list-cell:selected
{
	/*-fx-background-color: white;*/
    -fx-text-fill: white;
	-fx-background-color: #3C9AE0;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-text-fill: #234974;
	-fx-background-color: 
		linear-gradient(from 0% 83% to 0% 100%, #8BD3FF 0%, #3C9AE0 100%),
        radial-gradient(center 50% 50%, radius 100%, #8BD3FF, #3C9AE0);
}

.combo-box-popup .list-view{
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 5 );
}