.myDialog {
	-fx-background-color: white;
}
.dialog-pane:header .header-panel .label {
    -fx-font-size: 1.167em;
    -fx-wrap-text: true;
    -fx-text-fill: #e97e00;
}
.dialog-pane:header .header-panel {
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #4b4b4b 0%, #26282a 100%),
            radial-gradient(center 50% 50%, radius 100%, #4b4b4b, #26282a);
	-fx-font-weight: bold;
	-fx-font-size: 12px;
}

.button{
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 6;
    -fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #0ec815 0%, #0e9713 100%),
            radial-gradient(center 50% 50%, radius 100%, #0ec815, #0e9713);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-font-family: System;
}
.button:hover {
	-fx-cursor: hand;
    	-fx-background-color:
                linear-gradient(from 0% 83% to 0% 100%, #0eb715 0%, #0e7011 100%),
                radial-gradient(center 50% 50%, radius 100%, #0eb715, #0e7011);
}
.button:pressed {
	-fx-background-color:
            linear-gradient(from 0% 83% to 0% 100%, #0eb715 0%, #0b500e 100%),
            radial-gradient(center 50% 50%, radius 100%, #0eb715, #0b500e);
    -fx-padding: 1 1 1 1;
}